<!DOCTYPE html>
<html>
<head>
    <title>ukit</title>

    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic" rel="stylesheet">

    <link rel="stylesheet" href="/dist/css/uikit.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js" type="text/javascript"></script>
    <script src="/dist/js/uikit.js" type="text/javascript"></script>
</head>
<body class="ui-normalize">

<div id="app" class="container">
    <h1>05 <span class="text-color--gray">Стили, цвета, офорtмление, шрифты</span></h1>

    <div class="row">
        <div class="col-md-6">
            <div class="ui-head--big">ОГРОМНЫЙ ЗАГОЛОВОК</div>
            <div class="ui-head--sub">подпись к заголовку</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Мега-заголовок</h1>
            <h2>Подзаголовок</h2>
            <p>Я текст по умолчанию, не поддаюсь отчаянью,<br>облей меня сметаной и назови Светланой. <br>Отличные вставные зубы вгрызаются в гранит<br> науки, осиливший абзацы ниже возможно не умрет<br> от скуки.</p>
            <p class='ui-text--sm'>Скромный текстовый блок, читая его, часто думаешь <br>про енотов, пирамиды, про клоунов и их бензопилы, <br>про людей с большими длинными руками-макаронинами и про соленый хлеб, йогурт и крендельки! Крендельки!</p>
            <p class='ui-text--xs ui-text--gray'>Я маленький, серый, плохо читаюсь, напиши мной правовую информацию, лицензионное соглашение напиши, всякую маловажную туфту, рецепт пирожков с говном, будь котом</p>

            <p class='ui-text--lg ui-text--uppercase ui-text--bold ui-text--spacing'>Прописные с разрядкой</p>
            <p class='ui-text--uppercase ui-text--spacing'>Для глаз зарядка</p>
            <p class='ui-text--uppercase ui-text--gray'>
                <span>для нас отрада</span> <span>потряси наградой</span>
            </p>
            <p class='ui-text--lg'>Озаглавь мной блок, не робей, люби гусей</p>
        </div>

        <div class="col-md-6">
            <h3>Заголовок раздела</h3>
            <h4 class="ui-text--gray">Заголовок-скромняга</h4>
            <p class='ui-text--lg'>Большой читаемый текст, он так прекрасен, что хочется писать и писать его, не делая перерывов на сон, секс и еду. Даже мыться не хочется.</p>

            <h5>Промежуточный заголовок</h5>
            <p class='ui-text--lg'>Все изумленно смотрят на него — засранец так и не снял кожух «ёлочки»</p>
            <p class='ui-text--gray'>Подпись, подсказка</p>

            <p class='ui-text--xl'>Акцент или еще один заголовок, используй с умом, не щелкай лицом</p>

            <p class='ui-text--lg ui-text--gray'>Будь серым, не стесняйся</p>

            <div class="ui-hint">Тише самовыражайся, ходи в чужом белье, не брейся, по утрам не умывайся</div>
        </div>
    </div>

    <br><br><br>

    <h1 class="ui-page-header">07 <span class="text-color--gray">Дистанции, отступы и правила типовых страниц</span></h1>

    <div class="row">
        <div class="col-md-6">

            <hr class="ui-hr">

            <div class="ui-page-header">
                <ui-help>
                    <h3 slot="page-header">Заголовок</h3>
                    Онтогенез осмысляет конструктивный психоз. Переживание и его претворение важно преобразует опасный знак, хотя в официозе принято обратное. Диониссийское начало спонтанно принимает во внимание бихевиоризм. Предсознательное дискредитирует трансцендентальный структурализм. Концепция, на первый взгляд, начинает напряженный дуализм.
                </ui-help>
            </div>

            <ui-toggle value hint="И получает его так много, что от радости<br> начинает дергаться глаз">
                Тумблер хочет внимания
            </ui-toggle>

            <ui-toggle value hint="Прищеми хвост бобра">
                Тумблер добра
            </ui-toggle>

            <div class="row">
                <div class="col-md-6">
                    <ui-input value="42">Заголовок инпута</ui-input>
                </div>
                <div class="col-md-6">
                    <ui-input value="Сказочно" info="Удивительно">Волшебно</ui-input>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <ui-input value="Не критикуй">Вот и жуй</ui-input>
                </div>
                <div class="col-md-6">
                    <ui-input value="Тритончик">Песчаный Дон Жуан</ui-input>
                </div>
            </div>

            <ui-input value="1000">раз и ты без глаз</ui-input>

            <div class="row">
                <div class="col-md-4"><ui-radio value-data=1 v-model="radioValue">Вру как Иисус</ui-radio></div>
                <div class="col-md-4"><ui-radio value-data=2 v-model="radioValue">Отлично, работаем дальше</ui-radio></div>
                <div class="col-md-4"><ui-radio value-data=3 v-model="radioValue">Сыр до дыр</ui-radio></div>
            </div>

            <!-- <div class="row"> -->
                Мир не без добрых гвоздей
                <ui-range :value="8" :max="30"></ui-range>
            <!-- </div> -->
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script>
new Vue({
    el: '#app',
    data: () => ({
        radioValue: 2
    }),
    methods: {},
})
</script>
</body>
</html>
