<!DOCTYPE html>
<html>
<head>
    <title>ukit</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/uikit.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js" type="text/javascript"></script>
    <script src="/dist/js/uikit.js" type="text/javascript"></script>
    <style>
        body {margin: 0;}
        .footer, .header {background:#EEE; padding: 40px 0; color:#AAA;}
    </style>
</head>
<body class="ui-with-help">

<div class="header">
    <div class="container">
        Header header header header header header header header header header header
    </div>
</div>

<div id="app" class="container">
    <div class="row">
        <div class="col-lg-8">

            <ui-content-box>
                <div class="ui-page-header mt-5">
                    <ui-help>
                        <h3 slot="page-header">Заголовок</h3>
                        Онтогенез осмысляет конструктивный психоз. Переживание и его претворение важно преобразует опасный знак, хотя в официозе принято обратное. Диониссийское начало спонтанно принимает во внимание бихевиоризм. Предсознательное дискредитирует трансцендентальный структурализм. Концепция, на первый взгляд, начинает напряженный дуализм.
                    </ui-help>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <ui-toggle v-model="toggleA" hint="И получает его так много, что от радости<br> начинает дергаться глаз">
                            Тумблер хочет внимания
                        </ui-toggle>
                        <ui-toggle v-model="toggleB" hint="Прищеми хвост бобра">
                            Тумблер добра
                        </ui-toggle>
                    </div>
                    <div class="col-md-6">
                        <ui-radio value-data="One" v-model="radioValueA" hint="И получает его так много, что от радости<br> начинает дергаться глаз">Тумблер хочет внимания</ui-radio>
                        <ui-radio value-data="Two" v-model="radioValueA" hint="Hint text text text text text">Radio Two</ui-radio>
                        <ui-checkbox v-model="checkboxA" hint="Hint text text text text text">Checkbox</ui-checkbox>
                    </div>
                </div>



                <div v-if="toggleA" class="ui-column-spacing">
                    <div class="row">
                        <div class="col-md-6">
                            <ui-select v-model="selectValue" :multiple="true" :options="selectOptions">Заголовок</ui-select>
                        </div>
                        <div class="col-md-6">
                            <ui-input v-model="inputMagicValue" info="Удивительно">Волшебно</ui-input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ui-input v-model="inputEatValue">Вот и жуй</ui-input>
                        </div>
                        <div class="col-md-6 pt-2">
                            <ui-input v-model="inputDonzhuanValue" label-align="left">Песчаный Дон Жуан</ui-input>
                        </div>
                    </div>
                </div>

                <template v-if="toggleA">

                    <div class="row">
                        <div class="col-md-6">
                            <ui-input v-model="inputPriceValue" placeholder="1000" size="4" max-size="10" label-align="right-inline" group="$">
                                раз и ты без глаз
                            </ui-input>
                        </div>
                        <div class="col-md-6 ui-column-spacing">
                            <ui-input v-model="inputPrice2Value" group="$" size="4" max-size="10" :hide-field="isHideField" label-align="left">
                                <ui-toggle v-model="isHideField">До</ui-toggle>
                            </ui-input>

                            <!-- <ui-input class="d-inline-block" v-model="inputPriceValue" placeholder="1000" size="4" max-size="15" group="$" >Label</ui-input> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><ui-radio class="pr-2" value-data=1 v-model="radioValueB">Вру как Иисус</ui-radio></div>
                        <div class="col-md-4"><ui-radio class="pr-2" value-data=2 v-model="radioValueB">Отлично, работаем дальше</ui-radio></div>
                        <div class="col-md-4"><ui-radio class="pr-2" value-data=3 v-model="radioValueB">Сыр до дыр</ui-radio></div>
                    </div>
                </template>



                <template slot="actions">
                    <ui-pagination prev-link="/" prev-name="Туда" next-link="/" next-name="Сюда" step="0" step-all="3"></ui-pagination>
                </template>

            </ui-content-box>

        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        Footer footer footer footer footer footer footer footer footer footer footer footer<br>
    </div>
</div>

<script>
new Vue({
    el: '#app',
    data: () => ({
        toggleA:            true,
        toggleB:            false,
        checkboxA:          false,
        inputMagicValue:    "Сказочно",
        inputEatValue:      "Не критикуй",
        inputDonzhuanValue: "Тритончик",
        radioValueA:        'One',
        isHideField:        false,
        inputPrice2Value:   1000,
        radioValueB:        2,
        inputPriceValue:    '',
        selectValue:        [],
        selectOptions:      {day: 'Каждый день', week: 'Каждую неделю', month: 'Каждый месяц'},
    }),
})
</script>
</body>
</html>