<!DOCTYPE html>
<html lang="ru">
<head>
    <title>UiKit - Form demo</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="../dist/css/uikit.css">
    <link rel="stylesheet" href="demo.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js" type="text/javascript"></script>
    <script src="../dist/js/uikit.js" type="text/javascript"></script>
</head>
<body class="ui-with-help">

<div class="header">
    <div class="container">
        Header header header header header header header header header header header
    </div>
</div>

<div id="app" class="container">
    <div class="row">
        <div class="col-lg-8">

            <ui-content-box>
                <div class="ui-page-header mt-5">
                    <ui-help>
                        <h3 slot="page-header">Заголовок</h3>
                        Онтогенез осмысляет конструктивный психоз. Переживание и его претворение важно преобразует опасный знак, хотя в официозе принято обратное. Диониссийское начало спонтанно принимает во внимание бихевиоризм. Предсознательное дискредитирует трансцендентальный структурализм. Концепция, на первый взгляд, начинает напряженный дуализм.
                    </ui-help>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <ui-toggle class="d-inline-block" v-model="toggleA" hint="И получает его так много, что от<br> радости начинает дергаться глаз" info="Info text here">
                            Тумблер хочет внимания
                        </ui-toggle>
                        <ui-toggle v-model="toggleB" hint="Прищеми хвост бобра">
                            Тумблер добра
                        </ui-toggle>
                        <ui-input-spinner v-model="inputSpinnerValue" label-align="left-inline" min=0 max=20>Label</ui-input-spinner>
                    </div>
                    <div class="col-md-6">
                        <ui-radio value-data="One" v-model="radioValueA" hint="И получает его так много, что от радости<br> начинает дергаться глаз">
                            Тумблер хочет внимания
                        </ui-radio>
                        <ui-radio value-data="Two" v-model="radioValueA" hint="Прищеми хвост бобра">
                            Тумблер добра
                        </ui-radio>
                        <ui-checkbox v-model="checkboxA" hint="Hint text text text text text">Checkbox</ui-checkbox>
                    </div>
                </div>



                <div v-if="toggleA" class="ui-column-spacing">
                    <div class="row">
                        <div class="col-md-6">
                            <ui-select v-model="selectValue" :multiple="true" :options="selectOptions" hint="Hint text" info="Info text">Заголовок</ui-select>
                        </div>
                        <div class="col-md-6">
                            <ui-input v-model="inputMagicValue" info="Удивительно">Волшебно</ui-input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ui-input v-model="inputEatValue">Вот и жуй</ui-input>
                        </div>
                        <div class="col-md-6 pt-2">
                            <ui-input v-model="inputDonzhuanValue" label-align="left">Песчаный Дон Жуан</ui-input>
                        </div>
                    </div>
                </div>

                <template v-if="toggleA">
                    <div class='ui-form-inline'>
                        <ui-input v-model="inputPriceValue" placeholder="1000" size="4" max-size="10" label-align="left-inline" group="$">От</ui-input>
                        <ui-input :hide-field="isHideField" v-model="inputPrice2Value" group="$" size="4" max-size="10" label-align="left-inline">
                            <ui-toggle v-model="isHideField">До</ui-toggle>
                        </ui-input>
                    </div>


                    <div class="row ui-column-spacing">
                        <div class="col-md-6">
                            <ui-input-suggest
                                    :loading="loading"
                                    info="Info text here"
                                    hint="Hint text here"
                                    :value="completeValue"
                                    :results="completeResults"
                                    :error="completeError"
                                    @input="complete"
                                    @select="completeSelect"
                                >Input suggest</ui-input-suggest>
                        </div>
                        <div class="col-md-6">
                            <ui-input-ajax hint="Hint text here" ajax-url="https://wapi.agro24.ru/api/product" v-model="ajaxValue">Input Ajax (Deprecated)</ui-input-ajax>
                        </div>
                    </div>

                    <div class='ui-form-inline mb-md-2'>
                        <ui-radio value-data=1 v-model="radioValueB">Вот так вот</ui-radio>
                        <ui-radio value-data=2 v-model="radioValueB">Отлично, работаем <br class='hidden-sm-down'>дальше</ui-radio>
                        <ui-radio value-data=3 v-model="radioValueB">Сыр до дыр</ui-radio>
                    </div>
                    <hr class='ui-hr mb-5'>
                </template>



                <template slot="actions">
                    <ui-router-pagination :next-error="paginationNextError" next-name="Сюда"  prev-link="/" prev-name="Туда"  step="0" step-all="3" next-icon="uikit-check" />
                </template>

            </ui-content-box>

        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        Footer footer footer footer footer footer footer footer footer footer footer footer<br>
    </div>
</div>

<script>
new Vue({
    el: '#app',
    data: () => ({
        toggleA:             true,
        toggleB:             false,
        checkboxA:           false,
        inputMagicValue:     "Сказочно",
        inputEatValue:       "Не критикуй",
        inputDonzhuanValue:  "Тритончик",
        radioValueA:         'One',
        isHideField:         false,
        inputPrice2Value:    1000,
        radioValueB:         2,
        inputSpinnerValue:   3,
        inputPriceValue:     '',
        selectValue:         [],
        selectOptions:       {day: 'Каждый день', week: 'Каждую неделю не позднее понедельника', month: 'Каждый месяц'},
        paginationNextError: false,
        completeResults:     [],
        completeValue:       '',
        completeError:       '',
        loading:             false,
        ajaxValue:           '',

    }),
    methods: {
        complete(val) {
            this.completeValue = val;
            this.completeError = '';

            if (val === '') {
                this.completeResults = [];
            } else {
                this.loading = this.$http.get('https://wapi.agro24.ru/api/product', { params: {
                    name: val
                } })
                    .then(res => res.json())
                    .then(data => {
                        if (data.items && data.items.length > 0)
                            this.completeResults = data.items;
                        else
                            throw 'Нет совпадений';
                    })
                    .catch(e => {
                        this.completeResults = [];
                        this.completeError = e;
                    })
            }
        },
        completeSelect(item) {
            this.completeValue = item.name;
        },
    },

    mounted() {
        setTimeout(() => {
            this.paginationNextError = '<b>Error message</b> error message error message error message error message';
        }, 1000);
    }
})
</script>
</body>
</html>