<!DOCTYPE html>
<html lang="ru">
<head>
    <title>UiKit - Calendar</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="../dist/css/uikit.css">
    <link rel="stylesheet" href="demo.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js" type="text/javascript"></script>
    <script src="../dist/js/uikit.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</head>
<body>

<div class="header">
    <div class="container">
        Header header header header header header header header header header header
    </div>
</div>

<div id="app" class="container">
    <div class="row">
        <div class="col-lg-8">

            <ui-content-box>

                <div class="ui-page-header mt-5">
                    <h3 slot="page-header">Заголовок</h3>
                </div>

                <div class="ui-form-inline">
                    <ui-input-date class="d-inline-block" size="10" max-size="15" v-model="dateFrom2" input-format="DD MMMM YYYY" :max-date="dateTo2" :hint="dateFrom2 ? dateFrom2.format('D MMMM') : ''">From</ui-input-date>

                    <ui-input-date class="d-inline-block" size="10" max-size="15" v-model="dateTo2" input-format="DD MMMM YYYY" :min-date="dateFrom2" :hint="dateTo2 ? dateTo2.format('D MMMM') : ''">To</ui-input-date>
                </div>

                <div class="ui-form-inline">
                    <ui-input class="d-inline-block" size="10" v-model="dateFrom" icon="uikit-calendar" @focus="$refs.inputCalFrom.show()" @click.native.stop>
                        From date
                        <ui-calendar slot="dropdown" ref="inputCalFrom" v-model="dateFrom" :max-date="dateTo"></ui-calendar>
                    </ui-input>

                    <ui-input class="d-inline-block" size="10" v-model="dateTo" icon="uikit-calendar" @focus="$refs.inputCalTo.show()" @click.native.stop>
                        To date longest label here
                        <ui-calendar slot="dropdown" ref="inputCalTo" v-model="dateTo" :min-date="dateFrom"></ui-calendar>
                    </ui-input>
                </div>

                <div>
                    <ui-input class="d-inline-block" size="14" v-model="dateInput2" icon="uikit-calendar" @focus="$refs.inputCal2.show()" @click.native.stop>
                        Popup calendar
                    </ui-input>
                    <ui-calendar ref="inputCal2" v-model="dateInput2" format="DD MMMM YYYY" :min-date="moment()"></ui-calendar>
                </div>

                <div class="form-group">
                    <ui-calendar ref="calendarM" v-model="dates" multiple>
                        <ui-button><i class="uikit-calendar"></i> Multiple</ui-button>

                        <div slot="footer" class="ui-text--center mt-2">
                            <ui-button @click="$refs.calendarM.hide()" class='ui-btn--green ui-btn--no-shadow ui-btn--sm'>OK</ui-button>
                        </div>
                    </ui-calendar>
                    <ui-chip v-for="date in dates">{{ date }}</ui-chip>
                </div>

                <div class="form-group">
                    <ui-calendar ref="calendar" v-model="date" >
                        <ui-button><i class="uikit-calendar"></i> {{ date }}</ui-button>
                    </ui-calendar>
                </div>

                <div class="form-group">
                    <ui-calendar v-model="dateUnixtime" format="X">
                        <ui-button><i class="uikit-calendar"></i> Unixtime: {{ dateUnixtime }}</ui-button>
                    </ui-calendar>
                </div>

                <div class="form-group">
                    <ui-calendar v-model="dateMoment" format="">
                        <ui-button><i class="uikit-calendar"></i> Moment: {{ dateMoment }}</ui-button>
                    </ui-calendar>
                </div>

                <template slot="actions">
                    <ui-pagination prev-link="/" prev-name="Туда" next-link="/" next-name="Сюда" step="0" step-all="3"></ui-pagination>
                </template>

            </ui-content-box>

        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        Footer footer footer footer footer footer footer footer footer footer footer footer<br>
    </div>
</div>

<script>

new Vue({
    el: '#app',
    data: () => ({
        dateUnixtime: null,
        dates:        null, // []
        date:         '',
        dateFrom:     '',
        dateTo:       '',
        dateFrom2:    '',
        dateTo2:      '',
        dateInput2:   '',
        dateMoment:   null,
        showCalendar: true,
    }),

    mounted() {
        // this.$refs.inputCalTo.show();
    }
})
</script>
</body>
</html>